:root {
  --header-height: 40px;
}

.app {
  display: grid;
  grid-template-areas: "header header" "aside main";
  grid-template-rows: auto 1fr;
  grid-template-columns: auto 1fr;
  min-height: 100vh;
}

.app_aside {
  grid-area: aside;
  padding: 20px;
  box-shadow: 5px 0 10px 1px rgba(0, 0, 0, 0.5);
}

.app_main {
  grid-area: main;
  padding: 20px;
}

.header {
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  height: var(--header-height);
}

.header > * {
  line-height: var(--header-height);
}

.header_title {
  display: flex;
  align-items: center;
}

.header_label {
  padding-inline: 10px;
  text-align: center;
}

.header_label.header_label__vue {
  background-color: var(--vue-color);
}

.header_label.header_label__react {
  background-color: var(--react-color);
}

.header_text {
  padding-inline-start: 10px;
}

.header_theme {
  margin-inline-end: 10px;
}

.link_activeRoute {
  margin-block-end: 10px;
}

.link_list {
  list-style-type: none;
  padding: 0;
}

.link_item {
  display: block;
  margin-block-end: 10px;
}

.link_item.link_item__active {
  color: var(--link-visited-color);
}
